<!--So, in the club card there shouldn't be any -->

{<a href="#">
    <div class="container current_discussion">
        <div class="row">
            <div class="col l1 s1 offset-1 film-strip"></div>
            <div class="col l7 s7">
                <h4 class="black-text">{{group.name }} </h4>
                <h5>Now Showing:</h5>
                <p>{{discussion.movie}}</p>
                <h5>Discussion starts:</h5>
                <p>{{discussion.start_date}}</p>
            </div>
            <div class="col l4 s4 valign-wrapper" id="poster">
                {{!-- ?? How to link image from url href ?? --}}
                {{!-- <img class="responsive-img poster" src="{{}}"> --}}
            </div>
        </div>
    </div>
</a>

{{!-- Now Showing --}}
<a href="#">
    <div class="container current_discussion">
        <div class="row">
            <div class="col l1 s1 offset-1 film-strip"></div>
            <div class="col l7 s7">
                <h4 class="black-text">{{group.name }} Racial Justice</h4>
                <h5>Now Showing:</h5>
                <p>{{discussion.movie}}THUG</p>
                <h5>Discussion starts:</h5>
                <p>{{discussion.start_date}}11/29</p>
            </div>
            <div class="col l4 s4 valign-wrapper" id="poster">
                {{!-- <img class="responsive-img poster" src=""> --}}
            </div>
        </div>
    </div>
</a>


{{!-- Previous Films --}}

<a href="#">
    <div class="container previous">
        <div class="row">
            <div class="col l1 s1 offset-1 film-strip"></div>
            <div class="col l7 s7">
                <h4 class="black-text">{{movie_club_name }} </h4>
                <h5>Now Showing:</h5>
                <p>{{prev_movie}}</p>
                <h5>Discussion starts:</h5>
                <p>{{prev_movie_start}}</p>
            </div>
            <div class="col l4 s4 valign-wrapper" id="poster">
                {{!-- <img class="responsive-img poster" src=""> --}}
            </div>
        </div>
    </div>
</a>